<a href="https://colab.research.google.com/github/musigr/study_netology/blob/main/Pandas/2_Functions_%26_data/Functions_%26_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание 1

In [1]:
import pandas as pd
raiting=pd.read_csv('ratings.csv')
raiting.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [2]:
def class_movies(row):
    if row['rating']<=2.0:
        return 'низкий рейтинг'
    elif 2.0<row['rating']<=4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [3]:
raiting['class'] = raiting.apply(class_movies, axis=1)
raiting.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

#Задание 2

In [4]:
import pandas as pd
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}
towns=[]
for values in geo_data.values():
    for i in values:
        towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [5]:
row='вконтакте моя страница москва'
data=row.split(' ')
def check(t):
    for i in t:
        if i in towns:
            for items in geo_data.items():
                if i in items[1]:
                    print(items[0])
check(data)

Центр

In [6]:
df=pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [7]:
def region_in_keyword(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [8]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [9]:
df[(df['region']!='undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]

#Задание 3

In [22]:
import pandas as pd
movies_dt = pd.read_csv('movies.csv')
ratings_dt = pd.read_csv('ratings.csv')

# создаем общую таблицу Х
x = ratings_dt.merge(movies_dt, how='left')

# делаем таблицу индекс- название фильма - средний ретинг
films_rating = x.groupby('title').mean().reset_index()[['title', 'rating']]

films_rating.head()

                                     title    rating
0         "Great Performances" Cats (1998)  1.750000
1                             $9.99 (2008)  3.833333
2  'Hellboy': The Seeds of Creation (2004)  2.000000
3          'Neath the Arizona Skies (1934)  0.500000
4                   'Round Midnight (1986)  2.250000

In [23]:
""" 1. В переменную years запишите список из всех годов с 1950 по 2010"""
years = [str(i+1950) for i in range(61)]
print(years)

['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010']

In [24]:
""" 2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска.
    Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
     - для каждой строки пройдите по всем годам списка years
     - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
     - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

 создаем функцию с вариантами оценки """

def production_year(row):
    for year in years:
        if year in row['title']:
            return year
    return '1900'

In [25]:
""" 3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year' """
films_rating['year'] = films_rating.apply(production_year, axis=1)
films_rating.head(10)

                                     title    rating  year
0         "Great Performances" Cats (1998)  1.750000  1998
1                             $9.99 (2008)  3.833333  2008
2  'Hellboy': The Seeds of Creation (2004)  2.000000  2004
3          'Neath the Arizona Skies (1934)  0.500000  1900
4                   'Round Midnight (1986)  2.250000  1986
5                      'Salem's Lot (2004)  3.500000  2004
6                'Til There Was You (1997)  2.625000  1997
7                       'burbs, The (1989)  3.052632  1989
8                     'night Mother (1986)  5.000000  1986
9              (500) Days of Summer (2009)  3.755556  2009

In [26]:
"""4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга"""
films_rating.sort_values('rating', ascending=False).head(50)

                                                  title  rating  year
4161  Ivan Vasilievich: Back to the Future (Ivan Vas...     5.0  1973
299                                 Alien Escape (1995)     5.0  1995
1125                               Boiling Point (1993)     5.0  1993
1131                               Bone Tomahawk (2015)     5.0  1900
1145                                     Borgman (2013)     5.0  1900
7698                         Survive and Advance (2013)     5.0  1900
7676     Supercop 2 (Project S) (Chao ji ji hua) (1993)     5.0  1993
4547                            Last Dragon, The (1985)     5.0  1985
1179                                   Boy Crazy (2009)     5.0  2009
1200                    Brandon Teena Story, The (1998)     5.0  1998
7582                             Straight-Jacket (2004)     5.0  2004
7568                        Storefront Hitchcock (1997)     5.0  1997
4581                                 Latter Days (2003)     5.0  2003
3828                                        Howl (2010)     5.0  2010
7540                            Step Into Liquid (2002)     5.0  2002
1278                                    Brooklyn (2015)     5.0  1900
1286              Brother, Can You Spare a Dime? (1975)     5.0  1975
1111                                       Bobby (2006)     5.0  2006
7751  Sympathy for Mr. Vengeance (Boksuneun naui geo...     5.0  2002
4521  Land of Silence and Darkness (Land des Schweig...     5.0  1971
7897  The Beatles: Eight Days a Week - The Touring Y...     5.0  1900
7913                                     The Car (1977)     5.0  1977
965                       Bill Hicks: Relentless (1992)     5.0  1992
966                      Bill Hicks: Revelations (1993)     5.0  1993
7909       The Brave Little Toaster Goes to Mars (1998)     5.0  1998
7902                             The Biggest Fan (2002)     5.0  2002
7900                         The Big Gay Musical (2009)     5.0  2009
986                              Bite the Bullet (1975)     5.0  1975
4516                                    Lamerica (1994)     5.0  1994
3902                                I Think I Do (1997)     5.0  1997
1029                                   Blackrock (1997)     5.0  1997
1042                                 Bleak House (2005)     5.0  2005
7818            Taste of Cherry (Ta'm e guilass) (1997)     5.0  1997
7804                                       Tango (1998)     5.0  1998
4514                                Lake of Fire (2006)     5.0  2006
1292                            Brown Bunny, The (2003)     5.0  2003
7516              State of Siege (État de siège) (1972)     5.0  1972
4586           Law of Desire (Ley del deseo, La) (1987)     5.0  1987
7085                          She Done Him Wrong (1933)     5.0  1900
7118                             Shogun Assassin (1980)     5.0  1980
4729                      Little Lord Fauntleroy (1936)     5.0  1900
7108                             Shining Through (1992)     5.0  1992
1633                       Circle, The (Dayereh) (2000)     5.0  2000
7097                                     Shelter (2007)     5.0  2007
3286                       Good Morning, Babylon (1987)     5.0  1987
1685                               Clockstoppers (2002)     5.0  2002
7158                                Side by Side (2012)     5.0  1900
7039       Sgt. Pepper's Lonely Hearts Club Band (1978)     5.0  1978
7008                                        Seve (2014)     5.0  1900
3702                                 Holy Motors (2012)     5.0  1900