<a href="https://colab.research.google.com/github/musigr/study_netology/blob/main/Pandas/2_Functions_%26_data/Functions_%26_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание 1

In [ ]:
import pandas as pd
raiting=pd.read_csv('ratings.csv')
raiting.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
def class_movies(row):
    if row['rating']<=2.0:
        return 'низкий рейтинг'
    elif 2.0<row['rating']<=4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [ ]:
raiting['class'] = raiting.apply(class_movies, axis=1)
raiting.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

#Задание 2

In [ ]:
import pandas as pd
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}
towns=[]
for values in geo_data.values():
    for i in values:
        towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [ ]:
row='вконтакте моя страница москва'
data=row.split(' ')
def check(t):
    for i in t:
        if i in towns:
            for items in geo_data.items():
                if i in items[1]:
                    print(items[0])
check(data)

Центр

In [ ]:
df=pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def region_in_keyword(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [ ]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
df[(df['region']!='undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]

#Задание 3

In [24]:
import pandas as pd
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

In [25]:
""" 1. В переменную years запишите список из всех годов с 1950 по 2010"""
years = range(1950, (2010 + 1))

In [28]:
""" 2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска.
    Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
     - для каждой строки пройдите по всем годам списка years
     - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
     - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

 создаем функцию с вариантами оценки """
 
def production_year(title): 
    for y in years:
        if str(y) in title:
            return y
    
    return 1900

In [29]:
""" 3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year' """
movies_df['year'] = movies_df['title'].apply(production_year)
joined = ratings_df.merge(movies_df, on='movieId', how='left')

In [30]:
"""4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга"""
grouped = joined.groupby('year').agg({'rating': ['mean']})
grouped.columns = grouped.columns.droplevel(0)
grouped = grouped.reset_index()
sorted_by_mean = grouped.sort_values('mean', ascending = False)
sorted_by_mean

    year      mean
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]